/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

h1{
    text-align: center;
}

.fs-25{
    font-weight: 700;
    font-size: 25px;
}

.desc{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    width: 95%;
    margin: auto;
}

.desc .leftSection{
    width: 40%;
    margin: auto;
    padding: 34px;
}

.line-hight{
    line-height: 40px;
}


.H-line{
    position: relative;
    content: "";
    width: 4px;
    background-color: rgb(87, 85, 85);
    height: 1030px;
    top: 20px;
    border: 2px solid gray;
    border-radius: 4px;
}



.desc .rightSection{
    width: 40%;
    margin: auto;
    padding: 40px;
}

.text-gray{
    color: rgb(95, 93, 93);
}

.section-2{
    padding: 20px;
    margin-top: 60px;
    background-color: rgb(208, 219, 227);
    height: 90%;
}

.main_content_wraper{
    width: 80%;
    margin: auto;
}

.main_content{
    margin: 60px 0 0 0;
}

.hgreen{
    margin-right: 20px;
}

.hgreen:hover{
    color: rgb(255, 255, 255);
    border: 2px solid green;
    border-radius: 50%;
    background-color: green;
    cursor: pointer;
}

.section-3{
    text-align: center;
    padding: 80px;
}
.p-1{
    font-size: 25px;
    font-weight: bold;
    padding: 50px 0px;
}
.p-2{
    padding: 10px 0px;
    font-size: 19px;
}

.p-3{
    font-weight: bold;
    font-size: 23px;
    padding-bottom: 13px;
}
.p-4{
    width: 650px;
    line-height: 30px;
    font-size: 20px;
    color: rgb(72, 71, 71);
}
.section-4{
    display: flex;
    gap: 140px;
    width: 80%;
    margin: 90px auto;
}
table{
    border-collapse: collapse;
    text-align: centers;
    margin: 30px auto;
}
tr, td, th{
    padding: 10px 10px;
    border: 1px solid black;
}
.img-1{
    position: absolute;
    left: -30px;
    bottom: 180px;
    /* top: 100px; */
    border-radius: 50%;
    box-shadow: 0px 0px 20px 4px gray;
}
span{
    color: rgb(47, 46, 46);
    font-weight: bold;
}
.div-3{
    display: flex;
    width: 70%;
    margin: 100px auto ;
    gap: 50px;
    justify-content: center;
    align-items: center;            
}
.h-line{
    position: relative;
    content: "";
    width: 3px;
    background-color: rgb(87, 85, 85);
    height: 210px;
    top: 9px;
    border: 1px solid gray;
    border-radius:4px;
    
}
.p-5{
    width: 690px;
    line-height: 30px;
    font-size: 20px;
    color: rgb(72, 71, 71);
}
.div-5{
    display: flex; 
    gap: 12px;
    align-items: center;
}

.image-container{
 position: relative;
}

